:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #F4F4FD;
    --primary-text-color-theme-light: #2E2F42;
    --secondary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light: #434455;
    --accent-color: #4D5AE5;
}

.header-menu-format {
    display: flex;
    column-gap: 40px;
}

.conteiner {
    width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 156px;
    padding-right: 156px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link:hover,
.link:focus {
    text-decoration: underline;
    color: #404BBF
}

img {
    display: block;
}

.logo {
    font-family: var(--secondary-font-family-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--accent-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-header-studio {
    color: var(--primary-text-color-theme-light)
}

.logo-footer-studio {
    color: var(--primary-text-color-theme-dark)
}

button {
    cursor: pointer;
    margin-bottom: 0;
}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color-theme-light);
    background-color: var(--secondary-text-color-theme-dark)
}

.page-header {
    display: flex;
    align-items: center;
    height: 72px;
    top: 0px;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu-item {
    flex-direction: row;

}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light)
}

.contact-link {
    color: var(--secondary-text-color-theme-light);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-tel {
    color: var(--secondary-text-color-theme-light);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 40px;
}

.contact-mail {
    color: var(--secondary-text-color-theme-light);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.content-button {
    background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-color);
    font-family: var(--main-font-family);
    letter-spacing: 0.04em
}

.content-button:hover,
.content-button:focus {
    background-color: #404BBF;
    color: var(--secondary-text-color-theme-dark)
}

.order-button {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color-theme-dark);
    font-family: var(--main-font-family);
    letter-spacing: 0.04em
}

.order-button:hover,
.order-button:focus {
    background: #404BBF
}

.main-page {
    background: var(--primary-text-color-theme-light);
    display: flex;
    width: 1440px;
    height: 600px;
    flex-direction: column;
    align-items: center;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--secondary-text-color-theme-dark);
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    margin-bottom: 64px;
    margin-top: 188px;
}

.content-page {
    background: #FCFCFC;
}

.secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light)
}

.team-page {
    background: var(--primary-text-color-theme-dark);
    width: 1440px;
    height: 732px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    margin-bottom: 120px;
    justify-content: space-between;
}



.list-item {
    background-color: var(--secondary-text-color-theme-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
}

.name {
    margin-top: 32px;
    margin-bottom: 8px;
}

.values-list {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: space-between;
}


.value-text {
    width: 264px;
    height: 72px;
    
}

.service-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 120px;
}

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    width: 264px;
    height: 72px;
    margin-top: 17.5px;
}

.footer-bgd {
    background: var(--primary-text-color-theme-light);
    width: 1440px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}